html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
background-color: black;

justify-content: flex-start;
  /* This centers our sketch vertically. */
  align-items: center;
}
#canvasHolder button, #sliderHolder button{
  background-color: gray;
  border-radius: 1vmin;
  width: 50%;
}
#sliderHolder button{
  margin-top: 5%;
  border-color: black;
}
#canvasHolder button:hover, #sliderHolder button:hover {
  opacity: 0.5;
}
#canvasHolder {
  order: 1;
}
#sliderHolder{
  display: inline-block;
order: 0;
height: 80%;
margin-left: 2%;
margin-right: 2%;
background-color: gray;
padding: 2%;
border-radius: 2%;
}
#sliderHolder input {
  margin: none;
  width: auto;
  padding: none;
margin-top: 5%;
padding: 5%;
border-radius: 5%;
border-style: solid;
border-color: white;
border-width: 2%;
opacity: 0.5;
}

#sliderHolder div {
text-align: left;
text-decoration: none;
font-size: 2vmin;
font-weight: bold;
font-family: monospace;
font-family: sans-serif;
}
#sliderHolder input:hover{
  opacity: 1.0;
}

#infoHolder{
  order: 3;
}
